.teacher-card {
    max-width: 300px;
    padding: 10px;
    transition: transform 0.3s ease;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #7B9495
    ;
}

.teacher-card:hover {
    transform: scale(1.05);
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}