.dropdown {
  width: 100%;
  user-select: none;
  position: relative;
  margin-bottom: 10px;
}

.dropdown .dropdown-btn {
  padding: 15px 20px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown .dropdown-content {
  z-index: 999;
  position: absolute;
  top: 110%;
  left: 0;
  padding: 10px;
  background: #fff;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #333;
  width: 100%;
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}

.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}

.dropdown-btn i {
  cursor: pointer;
}

.dropdown-options {
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}

.search {
  position: relative;
}

.search i {
  top: 50%;
  left: 15px;
  color: #999;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}
.search input {
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 0 20px 0 43px;
  border: 1px solid #b3b3b3;
}
.search input:focus {
  padding-left: 42px;
  border: 2px solid #4285f4;
}
.search input::placeholder {
  color: #bfbfbf;
}
