.styled-container {
  border: 3px solid white; /* Add border */
  border-radius: 8px; /* Add rounded edges */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow */
  margin-top: 30px;
  padding: 25px;
  max-width: 650px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  background: #7b9c95;
}

.loading-bar {
  margin-top: 10px;
}

html,
body {
  background: #f7f7f6;
}

.white-text {
  color: white;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-bottom: 50px;
}

.content-container {
  flex: 1;
}

.bottom-bar-wrapper {
  margin-top: auto;
}
